<h1>Forms</h1>
<div class="container-fluid">
  <form #value="ngForm">
    {{ value.value | json }}
    <hr />
    {{ userModel | json }}
    <hr />

    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        required
        #name="ngModel"
        [class.is-invalid]="name.invalid && name.touched"
        class="form-control"
        name="Username"
        [(ngModel)]="userModel.name"
      />
      {{ name.valid }}
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        required
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
        class="form-control"
        name="Email"
        [(ngModel)]="userModel.email"
      />
    </div>
    <div class="form-group">
      <label>I am interested in </label>
      <select class="costom-select" name="Select" [(ngModel)]="userModel.topic">
        <option selected>I am intersted in</option>
        <option *ngFor="let item of topics">{{ item }}</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
